.menu-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.expanded-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.expandable-menu-wrapper {
}
.menu-item-tail {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 8px;
}

.middle-button {
  min-width: 40px;
}

.MuiButtonGroup-root {
  min-width: 20px;
}
